apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: civo-cluster-example-provider-config
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/sync-wave: '0'
spec:
  project: default
  source:
    repoURL: https://github.com/gitops-ing/barclays-corp-gitops
    path: registry/clusters/civo-cluster-example/provider-config
    targetRevision: HEAD
  destination:
    name: in-cluster
    namespace: crossplane-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
---
